recursive-include src *.py
recursive-include src *.tflite
recursive-include src *.typed
recursive-include src *.txt

recursive-include tests *.cav
recursive-include tests *.npy
recursive-include tests *.png
recursive-include tests *.py
recursive-include tests *.md

include *.txt

graft docs
prune docs/_build

graft examples
prune examples/.ipynb_checkpoints

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
