@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-BlackItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('HankenGrotesk-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

